# --- Unity ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
[Bb]urstCache/
# Cache / compilación
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.log
*.unitypackage
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
.DS_Store
Thumbs.db
*.apk
*.aab
*.ipa
*.app
*.exe
*.dll
